@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <br />
        <br />
        <div line-height="10px">
        <p>Welcome to the PizzaBox Application!</p>
        <p>Use the navigation to login or place an order.</p>
        </div>
        <br />
        <br />
        <img src="~/img/pizza-clip-art.png" width="300" height="300" />
        <br />
    </div>
