@model WebApplication.Models.Pizzas

@{
    ViewData["Title"] = "Order";
}

<h1>Place an Order</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <span style="color:red">*</span>

                @Html.DropDownList("Size",
                    new SelectList(Enum.GetValues(typeof(Size))),
                    "Select Size",
                    new { @class = "form-control" })

                <span asp-validation-for="Size" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Crust" class="control-label"></label>
                <span style="color:red">*</span>

                @Html.DropDownList("Crust",
                    new SelectList(Enum.GetValues(typeof(Crust))),
                    "Select Crust",
                    new { @class = "form-control" })

                <span asp-validation-for="Crust" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <span style="color:red">*</span>

                @Html.DropDownList("Type",
                    new SelectList(Enum.GetValues(typeof(PizzaType))),
                    "Select Type",
                    new { @class = "form-control" })

                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Place Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
