@model WebApplication.Models.Users

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<p>
    <span style="color:red;">
        @ViewData["Message"]
    </span>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <span style="color:red">*</span>

                <input asp-for="Username" class="form-control" autocomplete="off" />

                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <span style="color:red">*</span>

                <input asp-for="Password" class="form-control" autocomplete="off" />

                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}